{% extends "base.html" %}
{% block title %}Tridon Logistics | About Us{% endblock %}
{% block content %}
<p>
Tridon Logistics (pty) Ltd was established in 2010 to service the needs of customers who require worldwide air and sea freight solutions.<br/>
<br/>
Tridon Logistics (pty) Ltd believes that quality is better than quantity. Our office has substantial knowledge in:
</p>
<ul>
    <li>Air freight import and export</li>
    <li>Sea freight import and export</li>
    <li>Road freight into Africa</li>
    <li>Distribution locally in South Africa</li>
    <li>Warehousing</li>
</ul>
<p>
We arrange, co-ordinate and monitor our variety of activities in these fields to suit the needs of our customers. Our extensive but ever growing network of agents around the world assist us in achieving a superior service to our clients.<br/>
<br/>
Our aim is to meet the demands of our clients with an open approach to their needs today and for the future.
</p>
{% endblock %}
