{% extends "base.html" %}
{% load static %}

{% block title %}Tridon Logistics | Documents{% endblock %}
{% block content %}
<h2>Whatever your freight needs.</h2>
<h2>We can get it to where you want it.</h2>
<ul class='circle-list'>
    <li><div class="info-card"><div class="circle"><i class="fa fa-truck fa-3x"></i></div><h2>Road Freight</h2></div></li>
    <li><div class="info-card"><div class="circle"><i class="fa fa-plane fa-3x"></i></div><h2>Air Freight</h2></div></li>
    <li><div class="info-card"><div class="circle"><i class="fa fa-anchor fa-3x"></i></div><h2>Sea Freight</h2></div></li>
</ul>
{% endblock %}
