{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %}Tridon Logistics (Pty) Ltd. | Invoice{% endblock %}

{% block content %}
<label for="workbook">Spreadsheet <select name="workbook">
        <option value="" {% if selected_wb == None %}selected{% endif %}>None</option>
    {% for wb in workbooks %}
        <option value="{{ wb.id }}" {% if selected_wb == wb %}selected{% endif %}>{{ wb.name }} ({{wb.created}})</option>
    {% endfor %}
    </select>
</label>
    <p>{{ entries|length }} entries </p>
    {% include 'sheet/entries_by_workbook_file.html' %}
{% endblock %}
