{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %}Tridon Logistics (Pty) Ltd. | Invoice{% endblock %}

{% block content %}
<div class="vert-spacing">
<label class="primary-text" for="workbook">Spreadsheet <select name="workbook" onchange="loadSheet(event)">
        <option value="" {% if selected_wb == None %}selected{% endif %}>None</option>
    {% for wb in workbooks %}
        <option value="{{ wb.id }}" {% if selected_wb == wb %}selected{% endif %}>{{ wb.name }} ({{wb.created}})</option>
    {% endfor %}
    </select>
</label>
</div>
    <p class="primary-text center-text">{{ entries|length }} entries </p>
    {% include 'sheet/entries_by_workbook_file.html' %}
{% endblock %}

{% block javascript %}
    <script>
        function loadSheet(e) {
            var id = e.target.value;
            if (id !== "") {
                window.location.assign("{% url 'sheet:invoice' %}" + id);
            } else {
                window.location.href= window.location.origin + "{% url 'sheet:invoice' %}";
            }
        }
    </script>
{% endblock %}

{% block modal %}
    <form class="form-horizontal" enctype="multipart/form-data" method="post" action="{% url 'sheet:upload' %}">
        {% csrf_token %}
        {{ form|crispy }}
        <div class="control-group">
          <div class="controls">
            <button type="submit" class="btn">Upload</button>
          </div>
        </div>
    </form>
{% endblock %}
